In [2]:
import pandas as pd
import numpy as np
import pickle as tickle_my_balls_and_call_me
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
import nltk
from nltk.sentiment import SentimentAnalyzer

# Load Data

In [4]:
nyt_df = pd.read_csv('data/scraped/nyt_bitcoin.csv', index_col = 0)
nyt_df.published = pd.to_datetime(nyt_df.published, utc=True)#.dt.tz_localize('UTC')
nyt_df.index=nyt_df.published
nyt_df = nyt_df.sort_index()

In [34]:
bbc_df = pd.read_csv('data/scraped/bbc_bitcoin.csv', index_col = 0)
bbc_df.published = pd.to_datetime(bbc_df.published, utc=True)#.dt.tz_localize('UTC')
bbc_df.index=bbc_df.published
bbc_df = bbc_df.sort_index()

In [6]:
cnn_df = pd.read_csv('data/scraped/cnn_bitcoin.csv', index_col = 0)
cnn_df.published = pd.to_datetime(cnn_df.published, utc=True)#.dt.tz_localize('UTC')
cnn_df.index=cnn_df.published
cnn_df = cnn_df.sort_index()

In [7]:
reuters_df = pd.read_csv('data/scraped/reuters_bitcoin.csv', index_col = 0)
reuters_df.published = pd.to_datetime(reuters_df.published, utc=True)#.dt.tz_localize('UTC')
reuters_df.index=reuters_df.published
reuters_df = reuters_df.sort_index()

/usr/local/lib/python3.7/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [71]:
bbc_pass = bbc_df.loc[bbc_df['content'].str.split().apply(len) > 20]
print(len(bbc_df['content']))
print(len(bbc_pass))

334
329

In [73]:
np.mean(bbc_pass['content'].str.split().apply(len).values)

450.81762917933133

In [96]:
print(bbc_pass.published.min())
print(bbc_pass.published.max())

2011-06-21 23:11:04+00:00
2019-05-09 23:04:05+00:00

In [87]:
nyt_pass = nyt_df.loc[nyt_df['content'].str.split().apply(len) > 20]
print(len(nyt_df['content']))
print(len(nyt_pass))

402
402

In [88]:
np.mean(nyt_pass['content'].str.split().apply(len).values)

1011.2935323383084

In [97]:
print(nyt_pass.published.min())
print(nyt_pass.published.max())

2012-01-16 06:01:41+00:00
2019-05-21 00:00:00+00:00

In [89]:
reuters_pass = reuters_df.loc[reuters_df['content'].str.split().apply(len) > 20]
print(len(reuters_df['content']))
print(len(reuters_pass))

729
720

In [90]:
np.mean(reuters_pass['content'].str.split().apply(len).values)

379.4888888888889

In [98]:
print(reuters_pass.published.min())
print(reuters_pass.published.max())

2012-04-01 19:01:00+00:00
2019-05-17 05:35:00+00:00

In [91]:
cnn_pass = cnn_df.loc[cnn_df['content'].str.split().apply(len) > 20]
print(len(cnn_df['content']))
print(len(cnn_pass))

602
602

In [92]:
np.mean(cnn_pass['content'].str.split().apply(len).values)

543.6229235880398

In [99]:
print(cnn_pass.published.min())
print(cnn_pass.published.max())

2012-08-22 00:00:00+00:00
2019-05-23 00:00:00+00:00

#### len(cnn_pass) + len(reuters_pass) + len(nyt_pass) + len(bbc_pass)

#### Second: CC and (V)CRIX

In [5]:
import os
import pandas as pd

os.getcwd()

'/Users/alextruesdale/Documents/bitcoin-sentiment/notebooks'

In [11]:
btc_prices = pd.read_csv('../data/external/BTC_price_201305_201903.csv', header=None, index_col=0).fillna(method='ffill')
btc_prices.columns = ['PRICE']
btc_prices.index.name =  'DAY'
btc_prices.index = pd.to_datetime(btc_prices.index)
btc_prices

                  PRICE
DAY
2013-04-28   135.300000
2013-04-30   135.300000
2013-05-01   117.000000
2013-05-02   103.430000
2013-05-03    91.010000
2013-05-04    91.010000
2013-05-05   116.790000
2013-05-06   118.330000
2013-05-07   106.400000
2013-05-08   112.640000
2013-05-09   113.000000
2013-05-10   113.000000
2013-05-11   113.010000
2013-05-12   114.713000
2013-05-13   117.180000
2013-05-14   114.500000
2013-05-15   114.156000
2013-05-16   115.500000
2013-05-17   123.100000
2013-05-18   123.880000
2013-05-19   120.501000
2013-05-20   122.580000
2013-05-21   122.900000
2013-05-22   123.000000
2013-05-23   125.748000
2013-05-24   131.700000
2013-05-25   131.700000
2013-05-26   134.600000
2013-05-27   128.985000
2013-05-28   129.179000
...                 ...
2019-03-05  3712.812457
2019-03-06  3852.461666
2019-03-07  3860.510762
2019-03-08  3871.637248
2019-03-09  3861.879307
2019-03-10  3941.600873
2019-03-11  3923.559789
2019-03-12  3860.359230
2019-03-13  3876.480853
2019-03-14  3865.817783
2019-03-15  3876.698708
2019-03-16  3925.460580
2019-03-17  4007.709464
2019-03-18  3980.990105
2019-03-19  3986.706894
2019-03-20  4013.576969
2019-03-21  4045.572634
2019-03-22  3983.317781
2019-03-23  3989.158491
2019-03-24  4008.945386
2019-03-25  3993.394900
2019-03-26  3993.394900
2019-03-27  3938.659743
2019-03-28  4036.160918
2019-03-29  4028.391301
2019-03-30  4103.322860
2019-03-31  4103.856421
2019-04-01  4103.521739
2019-04-02  4146.321928
2019-04-03  4862.230428

[2166 rows x 1 columns]

In [12]:
pd.to_datetime(btc_prices.index)

DatetimeIndex(['2013-04-28', '2013-04-30', '2013-05-01', '2013-05-02',
               '2013-05-03', '2013-05-04', '2013-05-05', '2013-05-06',
               '2013-05-07', '2013-05-08',
               ...
               '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28',
               '2019-03-29', '2019-03-30', '2019-03-31', '2019-04-01',
               '2019-04-02', '2019-04-03'],
              dtype='datetime64[ns]', name='DAY', length=2166, freq=None)

In [5]:
crix = pd.read_csv('data/crix.csv', index_col = 'date')
crix.index = pd.to_datetime(crix.index)
vcrix = pd.read_csv('data/vcrix.csv', usecols=[2,3],index_col = 'date')
vcrix.index = pd.to_datetime(vcrix.index)

In [6]:
new_vcrix = pd.read_csv('data/new_vcrix', usecols=[1,4],index_col = 'Date')
new_vcrix.index = pd.to_datetime(new_vcrix.index)

# Data Analysis

In [29]:
len(nyt_df.content[:].values.reshape(-1,1)[0][0])

7341

In [49]:
_lengths_listcompre = [len(str(element)) for element in nyt_df[:].content.values]

[    3     3     3     3     3     3     3     3     3     3     3     3
     3     3     3     3     3     3     3     3   358   454   805   841
   918   948   979   988  1029  1048  1094  1137  1222  1274  1292  1311
  1424  1655  1671  1703  1714  1715  1773  1779  1799  1819  1877  1903
  1953  1998  2007  2034  2082  2124  2170  2173  2220  2245  2250  2284
  2310  2316  2316  2340  2349  2351  2369  2369  2376  2493  2503  2625
  2630  2702  2706  2711  2732  2732  2739  2765  2775  2777  2854  2854
  2865  2867  2918  2928  3012  3044  3051  3073  3124  3138  3141  3143
  3168  3216  3230  3232  3242  3248  3348  3369  3388  3398  3400  3471
  3479  3484  3488  3574  3581  3582  3614  3648  3663  3698  3698  3703
  3723  3739  3760  3779  3780  3786  3788  3812  3830  3832  3914  3921
  3926  3928  3933  3942  3945  3984  4014  4020  4045  4084  4103  4115
  4130  4138  4147  4173  4188  4211  4222  4233  4234  4254  4283  4286
  4349  4385  4390  4391  4400  4410  4428  4476  4517  4520  4522  4526
  4552  4640  4659  4676  4698  4737  4755  4777  4781  4790  4802  4812
  4817  4819  4836  4841  4860  4868  4911  4951  4971  4972  4995  4996
  5003  5034  5039  5049  5111  5141  5143  5147  5186  5188  5188  5198
  5236  5237  5269  5324  5338  5344  5345  5357  5374  5401  5411  5460
  5466  5474  5523  5570  5606  5636  5659  5712  5712  5738  5765  5783
  5803  5821  5909  5919  5920  5925  5974  6009  6019  6032  6037  6059
  6063  6064  6091  6092  6100  6108  6135  6138  6141  6155  6210  6233
  6239  6243  6261  6265  6271  6275  6292  6313  6351  6370  6437  6447
  6498  6517  6518  6526  6543  6550  6566  6589  6606  6640  6714  6734
  6776  6798  6808  6816  6833  6833  6857  6862  6897  6915  6940  6951
  6957  7005  7009  7044  7049  7060  7079  7086  7099  7102  7104  7150
  7176  7215  7219  7238  7334  7341  7349  7371  7406  7411  7431  7437
  7439  7468  7475  7476  7480  7487  7499  7502  7534  7546  7578  7627
  7628  7645  7670  7724  7730  7740  7765  7771  7774  7798  7803  7805
  7806  7809  7828  7851  7855  7861  7863  7884  7924  7925  7960  8004
  8036  8064  8075  8077  8124  8166  8188  8193  8247  8258  8270  8295
  8302  8340  8361  8515  8581  8623  8644  8845  8847  8865  9150  9165
  9170  9206  9239  9375  9398  9412  9525  9584  9777 10342 10498 10579
 10649 10968 11133 11287 11334 11347 11364 11396 11430 11534 11721 11947
 12131 12374 12482 12523 12598 12659 12735 12877 12920 13073 13133 13238
 13358 13548 13616 13836 14363 14555 15488 15494 16654 17156 19025 28343
 39130 54169]

In [51]:
np.sum(_lengths_listcompre)

2477387

### NLTK

In [55]:
first_nyt_article = nyt_df.content[0]

In [ ]:
nltk.sentiment

In [53]:
sa = SentimentAnalyzer()

## Textblob

In [9]:
from textblob import TextBlob

In [61]:
analysis = TextBlob(first_nyt_article)

In [62]:
analysis.sentiment

Sentiment(polarity=0.11859100119738421, subjectivity=0.490705228577569)

In [68]:
TextBlob(first_nyt_article).sentiment[0]

0.11859100119738421

In [10]:
nyt_df['textblob_sent'] = [TextBlob(str(e)).sentiment[0] for e in nyt_df.content]
bbc_df['textblob_sent'] = [TextBlob(str(e)).sentiment[0] for e in bbc_df.content]

In [11]:
nyt_df['textblob_pola'] = [TextBlob(str(e)).sentiment[1] for e in nyt_df.content]
bbc_df['textblob_pola'] = [TextBlob(str(e)).sentiment[1] for e in bbc_df.content]

In [12]:
nyt_articles_per_day = nyt_df.groupby([pd.Grouper(key='published', freq='D')])['content'].count()
nyt_articles_per_week = nyt_df.groupby([pd.Grouper(key='published', freq='W-MON')])['content'].count()
nyt_articles_per_month = nyt_df.groupby([pd.Grouper(key='published', freq='M')])['content'].count()

In [13]:
bbc_articles_per_day = bbc_df.groupby([pd.Grouper(key='published', freq='D')])['content'].count()
bbc_articles_per_week = bbc_df.groupby([pd.Grouper(key='published', freq='W-MON')])['content'].count()
bbc_articles_per_month = bbc_df.groupby([pd.Grouper(key='published', freq='M')])['content'].count()

In [14]:
nyt_sent_mean_day = nyt_df.groupby([pd.Grouper(key='published', freq='D')])['textblob_sent'].mean().fillna(0)
bbc_sent_mean_day = bbc_df.groupby([pd.Grouper(key='published', freq='D')])['textblob_sent'].mean().fillna(0)

In [13]:
fig,ax = plt.subplots(1,1)
fig.set_size_inches(16,4)
start_date = pd.to_datetime('2017-01-01 00:00:00')
stop_date = pd.to_datetime('2019-05-28 00:00:00')
ax.set_xlim(start_date,stop_date)
# _plotvar1 = nyt_articles_per_day.rolling(30).mean()+bbc_articles_per_day.rolling(30).mean()
_plotvar1 = (nyt_sent_mean_day.rolling(30).mean()+
             bbc_sent_mean_day.rolling(30).mean())
label1 = 'Monthly'

# line1=ax.plot(_plotvar1,label=label1)
# line2=ax.plot(nyt_df.textblob_pola.rolling(60).mean(),label='Polarity')
line1=ax.plot(nyt_articles_per_day.rolling(30).mean(),label='Monthly')
line2=ax.plot(nyt_articles_per_day.rolling(14).mean(),label='Fortnightly')
# line2 =  ax2.plot(btc_log_ret.rolling(30).mean(), label='BTC DR Smoothed', c = 'red', alpha = 0.7)

ax2 = ax.twinx()
# line3 = ax2.plot(btc_prices, label='BTC', c = 'red', alpha = 0.7)
line4 = ax2.plot(vcrix, label='VCRIX', c = 'red', alpha = 0.7)
line3 = ax2.plot(new_vcrix, label='NEW VCRIX', c = 'green', alpha = 0.7)
# line3 = ax2.plot(crix, label='CRIX', c = 'red', alpha = 0.7)
# line3 = ax2.plot(btc_log_ret, label='BTC DR', c = 'red', alpha = 0.7)
# line3 = ax2.plot(btc_log_ret.rolling(30).mean(), label='BTC DR Smoothed', c = 'red', alpha = 0.7)

# #make a shared legend for both subplots
lines = line1+line3+line4
labs = [l.get_label() for l in lines]
ax.legend(lines, labs, handlelength=2, loc=0)

# plt.savefig('plots/NYT_CRIX_Textblob.png', dpi=150, transparent=True)
plt.show()

NameError: name 'plt' is not defined

## VADER

In [63]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [64]:
vaser_analyser = SentimentIntensityAnalyzer()